.calendar-date-part{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 50px);
    margin-top: 50px;
}
.calendar-number-part{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(49, 100px);
}
.calendar-inner-attr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calender-number-inner-attr {
    display: flex;
    justify-content: center;
    align-items: center;
}